<div class="header">
    <div class="title">
        <span>Car</span>
    </div>
    <div class="subtitle">
        <h3>Sei collegato come: &nbsp;</h3><span>Admin</span>
    </div>
    <div class="navbar">
        <app-navbar-admin></app-navbar-admin>
    </div>
</div>

<div class="body">
    <section class="button">
        <button mat-raised-button color="primary">Aggiungi Auto</button>
        <button mat-raised-button color="primary">Modifica Auto</button>
    </section>

    <table class="table">
        <thead>
        <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>ID</th>
        <th>Data di nascita</th>
        <th>Cancella</th>
        </tr>
        </thead>
        <tbody>
            <tr class="tr">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <span class="delete">X</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
