<div class="header">
    <div class="title">
        <span>Car</span>
    </div>
    <div class="subtitle">
        <h3>Sei collegato come: &nbsp;</h3><span>Admin</span>
    </div>
    <div class="navbar">
        <app-navbar-admin></app-navbar-admin>
    </div>
</div>

<div class="body">
    <div class="title">
        <h1>Aggiungi auto</h1>
    </div>
    <div class="card">
        <form #form="ngForm" (submit)="postVehicle(form.value)">
            <section>
                <mat-form-field class="field">
                    <mat-label>Targa</mat-label>
                    <input type="text" name="licensePlate" matInput [(ngModel)]="b" required>
                    <button *ngIf="b" matSuffix mat-icon-button aria-label="Clear" (click)="b=''"><mat-icon>close</mat-icon></button>
                </mat-form-field><br>
                <mat-form-field class="field">
                    <mat-label>ID Modello</mat-label>
                    <input type="number" name="idMod" matInput [(ngModel)]="c" required>
                    <button *ngIf="c" matSuffix mat-icon-button aria-label="Clear" (click)="c=''"><mat-icon>close</mat-icon></button>
                </mat-form-field><br>

                <!-- <mat-form-field class="field">
                    <mat-label>ID Categoria</mat-label>
                    <input type="text" name="categoryName" matInput [(ngModel)]="aa">
                    <button *ngIf="aa" matSuffix mat-icon-button aria-label="Clear" (click)="aa"><mat-icon>close</mat-icon></button>
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Marca e modello</mat-label>
                    <input type="text" name="makeAndModel" matInput [(ngModel)]="bb">
                    <button *ngIf="bb" matSuffix mat-icon-button aria-label="Clear" (click)="bb"><mat-icon>close</mat-icon></button>
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Serbatoio</mat-label>
                    <input type="number" name="bootCapacity" matInput [(ngModel)]="cc">
                    <button *ngIf="cc" matSuffix mat-icon-button aria-label="Clear" (click)="cc"><mat-icon>close</mat-icon></button>
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Consumi</mat-label>
                    <input type="number" name="averageConsumption" matInput [(ngModel)]="dd">
                    <button *ngIf="dd" matSuffix mat-icon-button aria-label="Clear" (click)="dd"><mat-icon>close</mat-icon></button>
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Neopatentati</mat-label>
                    <input type="boolean" name="forNewDrivers" matInput [(ngModel)]="ee">
                    <button *ngIf="ee" matSuffix mat-icon-button aria-label="Clear" (click)="ee=false"><mat-icon>close</mat-icon></button>
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Immagine</mat-label>
                    <input type="text" name="image" matInput [(ngModel)]="ff">
                    <button *ngIf="ff" matSuffix mat-icon-button aria-label="Clear" (click)="ff"><mat-icon>close</mat-icon></button>
                </mat-form-field> -->

                <mat-form-field class="field">
                    <mat-label>Paese</mat-label>
                    <input type="text" name="country" matInput [(ngModel)]="d" required>
                    <button *ngIf="d" matSuffix mat-icon-button aria-label="Clear" (click)="d=''"><mat-icon>close</mat-icon></button>
                </mat-form-field><br>
                <mat-form-field class="field">
                    <mat-label>Regione</mat-label>
                    <input type="text" name="region" matInput [(ngModel)]="e" required>
                    <button *ngIf="e" matSuffix mat-icon-button aria-label="Clear" (click)="e=''"><mat-icon>close</mat-icon></button>
                </mat-form-field><br>
                <mat-form-field class="field">
                    <mat-label>Città</mat-label>
                    <input type="text" name="city" matInput [(ngModel)]="f" required>
                    <button *ngIf="f" matSuffix mat-icon-button aria-label="Clear" (click)="f=''"><mat-icon>close</mat-icon></button>
                </mat-form-field><br>
                <mat-form-field class="field">
                    <mat-label>Indirizzo</mat-label>
                    <input type="text" name="street" matInput [(ngModel)]="g" required>
                    <button *ngIf="g" matSuffix mat-icon-button aria-label="Clear" (click)="g=''"><mat-icon>close</mat-icon></button>
                </mat-form-field><br>
                <mat-form-field class="field">
                    <mat-label>Numero Civico</mat-label>
                    <input type="text" name="houseNumber" matInput [(ngModel)]="h" required>
                    <button *ngIf="h" matSuffix mat-icon-button aria-label="Clear" (click)="h=''"><mat-icon>close</mat-icon></button>
                </mat-form-field><br>
                <mat-form-field class="field" style="display: none;">
                    <mat-label>Prenotato</mat-label>
                    <input type="boolean" name="booked" matInput [(ngModel)]="a">
                </mat-form-field>

                <!-- <mat-form-field class="field" style="display: none;">
                    <mat-label>Latitudine</mat-label>
                    <input type="number" name="latitude" matInput [(ngModel)]="gg" disabled>
                </mat-form-field>
                <mat-form-field class="field" style="display: none;">
                    <mat-label>Longitudine</mat-label>
                    <input type="number" name="longitude" matInput [(ngModel)]="hh" disabled>
                </mat-form-field> -->

            </section>
            <section>
                <button class="button" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Invia</button>
            </section>
        </form>
    </div>
</div>
<pre>{{form.value|json}}</pre>