.header{
    padding: 10px 10px;
}

.title{
    float: left;
    font-size: 100px;
    margin-left: 20px;
    margin-top: 40px;
}

.navbar{
    margin-top: -10px;
}

.body{
    clear: both;
    margin-top: 150px;
}

.body h3{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 40px;
}

.hr{
    border: 0.2px solid rgb(114, 114, 114);
}

.body .reservations{
    min-height: 505px;
    /* background-color: bisque; */
    position: relative;
}

.body .text{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 45%;
    max-width: 250px;
    line-height: 28px;
    text-align: center;
    /* background-color: aquamarine; */
}

.body p{
    font-size: 17px;
    margin-bottom: 0;
}

.text .headText{
    font-size: 19px;
    font-weight: 500;
}
