<div class="title">
    <span>Car</span>
</div>
<div class="navbar">
    <app-navbar></app-navbar>
</div>

<div class="body">
    <div class="fares">
        <div class="title">
            <h1>Tariffe</h1>
        </div>
        <div class="col-3">
            <div class="card">
                <h2>Minuto</h2>
                <div class="text">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, tenetur quas ex voluptate accusamus nulla quaerat est ipsam maiores sit dolores repellat soluta dolorum commodi, quibusdam quisquam rerum, nostrum dignissimos.</p>
                </div>
            </div>
            <div class="card">
                <h2>Oraria</h2>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati deleniti mollitia voluptate ducimus, rerum necessitatibus commodi possimus veniam consectetur? Alias inventore quis consectetur dicta aliquam. Inventore consectetur neque ut.</p>
                </div>
            </div>
            <div class="card">
                <h2>Giornaliera</h2>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas saepe consequuntur laudantium dicta, voluptatem obcaecati amet nulla! Similique eum, facilis soluta numquam in odit repellat porro praesentium alias, consequuntur earum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="action">
        <button>Registrati subito</button>
        <div class="login">
            <p>Hai già un account ? <a href="">Accedi</a> !</p>
        </div>
    </div>
    <div class="subscriptions">
        <div class="title2">
            <h1>Abbonamenti</h1>
        </div>
        <div class="col-3">
            <div class="card">
                <h2>Base</h2>
                <div class="text">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, tenetur quas ex voluptate accusamus nulla quaerat est ipsam maiores sit dolores repellat soluta dolorum commodi, quibusdam quisquam rerum, nostrum dignissimos.</p>
                </div>
            </div>
            <div class="card">
                <h2>Premium</h2>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati deleniti mollitia voluptate ducimus, rerum necessitatibus commodi possimus veniam consectetur? Alias inventore quis consectetur dicta aliquam. Inventore consectetur neque ut.</p>
                </div>
            </div>
            <div class="card">
                <h2>Business</h2>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas saepe consequuntur laudantium dicta, voluptatem obcaecati amet nulla! Similique eum, facilis soluta numquam in odit repellat porro praesentium alias, consequuntur earum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
