<div class="title">
    <span>Car</span>
</div>
<div class="navbar">
    <app-navbar></app-navbar>
</div>

<div class="body">
    <div class="title">
        <h1>Accedi</h1>
    </div>
    <div class="card">
        <form action="">
            <section>
                <mat-form-field class="field">
                    <mat-label>Email</mat-label>
                    <input type="email" name="email" matInput [(ngModel)]="a">
                    <button *ngIf="a" matSuffix mat-icon-button aria-label="Clear" (click)="a=''"><mat-icon>close</mat-icon></button>
                </mat-form-field><br>
                <mat-form-field class="field">
                    <mat-label>Password</mat-label>
                    <input type="password" name="nome" matInput [(ngModel)]="b">
                    <button *ngIf="b" matSuffix mat-icon-button aria-label="Clear" (click)="b=''"><mat-icon>close</mat-icon></button>
                </mat-form-field>
            </section>
            <section>
                <button class="button" mat-raised-button color="primary">Invia</button>
            </section>
        </form>
    </div>
    <div class="signup">
        <p>Non sei ancora iscritto ? <a routerLink="/signup">Registrati</a> !</p>
    </div>
</div>
