<div class="header">
    <div class="title">
        <span>Car</span>
    </div>
    <div class="subtitle">
        <h3>Sei collegato come: &nbsp;</h3><span>Admin</span>
    </div>
    <div class="navbar">
        <app-navbar-admin></app-navbar-admin>
    </div>
</div>

<div class="body">
    <table class="table">
        <thead>
        <tr>
        <th>ID</th>
        <th>ID Utente</th>
        <th>ID Veicolo</th>
        <th>ID Admin</th>
        <th>Inizio Noleggio</th>
        <th>Fine Noleggio</th>
        <th>Tipologia Noleggio</th>
        <th>Pagato</th>
        <th>Cancella</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of data" class="tr">
                <td>{{record.id}}</td>
                <td>{{record.idUser}}</td>
                <td>{{record.idVehicle}}</td>
                <td>{{record.idAdmin}}</td>
                <td>{{record.dateTimeStartRental}}</td>
                <td>{{record.dateTimeEndRental}}</td>
                <td>{{record.typeRental}}</td>
                <td>{{record.payed}}</td>
                <td>
                    <span class="delete" (click)="deleteRental(record.id)">X</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
