<div class="navbar">
    <ul>
        <li>
            <a routerLink="/user" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/bookrental" routerLinkActive="active">Prenota Noleggio</a>
        </li>
        <li>
            <a routerLink="/rental" routerLinkActive="active">I Tuoi Noleggi</a>
        </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">Profilo</a>
        </li>
        <li>
            <button routerLink="">Logout</button>
        </li>
    </ul>
</div>
