<div class="header">
    <div class="title">
        <span>Car</span>
    </div>
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="slogan">
        <p>Il car sharing è arrivato in città !</p>
    </div>
</div>

<div class="body">
    <div class="instructions">
        <h3>Come funziona</h3>
        <div class="card-1">
            <div class="img">
                <!-- <img src="" alt=""> -->
            </div>
            <div class="how-to">
                <h4 class="card-title">Crea il tuo account Car</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet expedita quos neque quae recusandae quaerat modi fugiat quisquam, delectus nihil voluptatem dolor pariatur harum, distinctio corrupti sed. Fuga, nesciunt nobis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa laborum temporibus odio eligendi a obcaecati aut animi quod in dolorem sequi placeat ullam ea magni voluptates exercitationem quis cupiditate, officiis nesciunt cumque aspernatur eius molestiae aliquam nisi? Fuga, accusantium harum.</p>
            </div>
        </div>
        <div class="card-1">
            <div class="how-to2">
                <h4 class="card-title">Prenota un'auto nella tua città</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos praesentium suscipit numquam rem dolore, similique consequatur aut iure minima temporibus repellat beatae labore! Harum, dolor error? Ipsum odit perferendis perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nihil quae nostrum perspiciatis a aperiam natus impedit numquam rem? Neque at perferendis ducimus quos velit consequuntur quo rerum, repudiandae voluptas?</p>
            </div>
            <div class="img2">
                <!-- <img src="" alt=""> -->
            </div>
        </div>
        <div class="card-1">
            <div class="img">
                <!-- <img src="" alt=""> -->
            </div>
            <div class="how-to">
                <h4 class="card-title">Apri l'auto con il tuo smartphone</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet expedita quos neque quae recusandae quaerat modi fugiat quisquam, delectus nihil voluptatem dolor pariatur harum, distinctio corrupti sed. Fuga, nesciunt nobis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa laborum temporibus odio eligendi a obcaecati aut animi quod in dolorem sequi placeat ullam ea magni voluptates exercitationem quis cupiditate, officiis nesciunt cumque aspernatur eius molestiae aliquam nisi? Fuga, accusantium harum.</p>
            </div>
        </div>
        <div class="card-1">
            <div class="how-to2">
                <h4 class="card-title">Guida quando vuoi</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos praesentium suscipit numquam rem dolore, similique consequatur aut iure minima temporibus repellat beatae labore! Harum, dolor error? Ipsum odit perferendis perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nihil quae nostrum perspiciatis a aperiam natus impedit numquam rem? Neque at perferendis ducimus quos velit consequuntur quo rerum, repudiandae voluptas?</p>
            </div>
            <div class="img2">
                <!-- <img src="" alt=""> -->
            </div>
        </div>
        <div class="card-1">
            <div class="img">
                <!-- <img src="" alt=""> -->
            </div>
            <div class="how-to">
                <h4 class="card-title">Parcheggia gratis quasi ovunque</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet expedita quos neque quae recusandae quaerat modi fugiat quisquam, delectus nihil voluptatem dolor pariatur harum, distinctio corrupti sed. Fuga, nesciunt nobis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa laborum temporibus odio eligendi a obcaecati aut animi quod in dolorem sequi placeat ullam ea magni voluptates exercitationem quis cupiditate, officiis nesciunt cumque aspernatur eius molestiae aliquam nisi? Fuga, accusantium harum.</p>
            </div>
        </div>
        <div class="card-1">
            <div class="how-to2">
                <h4 class="card-title">Termina il noleggio dall'app</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos praesentium suscipit numquam rem dolore, similique consequatur aut iure minima temporibus repellat beatae labore! Harum, dolor error? Ipsum odit perferendis perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nihil quae nostrum perspiciatis a aperiam natus impedit numquam rem? Neque at perferendis ducimus quos velit consequuntur quo rerum, repudiandae voluptas?</p>
            </div>
            <div class="img2">
                <!-- <img src="" alt=""> -->
            </div>
        </div>
    </div>

    <div class="cars">
        <h2>I nostri veicoli</h2>
        <details class="card-2">
            <summary>
                <div class="div"></div> <!--Immagine qui-->
                <span>Bmw X5</span>
                <span class="open">Apri</span>
            </summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, doloremque!</p>
        </details>
        <details class="card-2">
            <summary>
                <div class="div"></div>
                <span>Bmw X5</span>
                <span class="open">Apri</span>
            </summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, doloremque!</p>
        </details>
        <details class="card-2">
            <summary>
                <div class="div"></div>
                <span>Bmw X5</span>
                <span class="open">Apri</span>
            </summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, doloremque!</p>
        </details>
        <details class="card-2">
            <summary>
                <div class="div"></div>
                <span>Bmw X5</span>
                <span class="open">Apri</span>
            </summary>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, doloremque!</p>
        </details>
    </div>
    <div class="locations">
        <h2>Dove siamo</h2>
        <div class="col-4">
            <div class="block">
                <h4>A</h4>
                <ul>
                    <li>Agrigento</li>
                    <li>Alessandria</li>
                    <li>Ancona</li>
                </ul>
            </div>
            <div class="block">
                <h4>B</h4>
                <ul>
                    <li>Bergamo</li>
                    <li>Bologna</li>
                    <li>Bolzano</li>
                </ul>
            </div>
            <div class="block">
                <h4>C</h4>
                <ul>
                    <li>Cagliari</li>
                    <li>Catania</li>
                    <li>Catanzaro</li>
                </ul>
            </div>
            <div class="block">
                <h4>E</h4>
                <ul>
                    <li>Enna</li>
                </ul>
            </div>
        </div>

        <div class="col-4">
            <div class="block">
                <h4>F</h4>
                <ul>
                    <li>Ferrara</li>
                    <li>Firenze</li>
                    <li>Frosinone</li>
                </ul>
            </div>
            <div class="block">
                <h4>G</h4>
                <ul>
                    <li>Genova</li>
                    <li>Gorizia</li>
                    <li>Grosseto</li>
                </ul>
            </div>
            <div class="block">
                <h4>I</h4>
                <ul>
                    <li>Imperia</li>
                    <li>Isernia</li>
                </ul>
            </div>
            <div class="block">
                <h4>L</h4>
                <ul>
                    <li>La Spezia</li>
                    <li>Latina</li>
                    <li>Lecce</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="div-di-prova-con-la-mappa">
        <app-carmap></app-carmap>
    </div>
</div>